@page "/DataValueConverter"
@using Newtonsoft.Json.Linq

<PageTitle>Blazor Relewise - DataValue Converter</PageTitle>

<h1>DataValue Converter</h1>
<p>Here you can convert to and from unstructured JSON, the Relewise DataValue Data bag format, and the Relewise Webhook Data format.</p>
<p>You can <b>Try Convert</b> where you will get errors if anything looks off or if you have some unconventional input. Or you can <b>Force Convert</b> if you don't care about warnings or whether the input could be better formatted.</p>

@if (error is not null)
{
    <code><pre>@error</pre></code>
}
else if (message is not null)
{
    <span style="color:green;">@message</span>
}
<div style="display:grid;grid-template-columns: 1fr auto 1fr;gap:5px;">
    <h4>From</h4>
        <span></span>
    <h4>To</h4>
    <select @bind=fromType>
        @foreach (var type in types)
        {
            <option value="@type">@type</option>
        }
    </select>
    <span></span>
    <select @bind=toType>
        @foreach (var type in types)
        {
            <option value="@type">@type</option>
        }
    </select>
    <textarea class="form-control" style="height:40vh;width:100%;min-height:100%;" @bind=from></textarea>
    <div style="display:flex;align-items:center;">
        <div>
            <button class="btn btn-primary" @onclick=Swap>Swap</button>
        </div>
    </div>
    <textarea class="form-control" style="height:40vh;width:100%;min-height:100%;" @bind=to></textarea>
</div>
<div style="display:flex;flex-direction:row;gap:5px;">
</div>
<br />
<center>
    <button style="width:150px;" class="btn btn-success" @onclick=TryConvert>Try Convert</button>
    <i> - or - </i>
    <button style="width:150px;" class="btn btn-warning" @onclick=ForceConvert>Force Convert</button>
</center>

